* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.body_1 {
  background-color: #fafafa;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.section_1_background {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  width: 100vw;
  background-image: linear-gradient(
      180deg,
      rgba(9, 8, 8, 0.5),
      rgba(0, 0, 0, 1) 90%
    ),
    url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/4b500d1101336e8a3f6be8fb4521c6c7.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  height: 85px;
  width: 100vw;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  align-items: center;
}
.navigation_bar {
  height: 42px;
  padding-top: 24px;
  padding-bottom: 19px;
  margin-left: 45px;
  margin-right: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav_1 {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
.search {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search i {
  opacity: 60%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  border: none;
  opacity: 60%;
  width: 90px;
  height: 30px;
  font-size: 12.6px;

  background-color: transparent;
  color: aliceblue;
}

.burger-menu {
  display: block;
  width: 19px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-menu-piece {
  background-color: white;
  height: 3px;
  border-radius: 3px;
}
#short {
  width: 60%;
}
.logo_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_main img {
  height: 18px;
  width: 134px;
  background-size: cover;
}
.nav_space {
}

.nav_3_content {
  display: flex;
  color: aliceblue;
  align-items: center;
}
.navbar {
  display: flex;
  font-size: 1.26rem;
}
#budeg {
  opacity: 70%;
}
#meduushtei {
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.tuluv {
  width: 142px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tuluv p {
}
.blue dot {
  background-color: blue;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.social-link i {
  margin-left: 11px;
}
.hero {
  display: flex;
  justify-content: center;
}
.hero_content {
  display: flex;
  height: 446.4px;
  width: 1116px;
  margin-left: 174px;
  margin-right: 174px;
  padding-top: 36px;
}
.zurag {
  width: 446.4px;
  height: 446.4px;
  border-radius: 20px;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/db1de093db8bbeae103383001a8273bd.jpg");
  background-size: cover;
}
.hero_text {
  width: 669.59px;
  padding-top: 45px;
  padding-left: 61px;
}
.unuudur {
  text-transform: uppercase;
  animation-duration: 2s;
  font-size: 14.4px;
  color: rgb(0, 120, 246);
}
.font_meduushtei {
  font-family: "SF Display", sans-serif;
}
.medee {
  line-height: 43px;
  font-size: 36px;
  color: aliceblue;
  font-weight: 900;
}
.redakts {
  height: 85px;
  width: 1116px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 234px;
  padding-top: 70px;
}
.songolt_text {
  font-size: 16.2px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.tool {
  width: 52.6px;
  height: 27px;
  background-color: grey;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 50%;
}
.slider_section {
  position: absolute;
  width: 1602px;
  height: 545px;

  top: 670px;
  display: flex;
  /* margin-left: 100px;
  margin-right: 100px; */
  justify-content: space-evenly;
  align-items: center;
}
.slider {
  height: 434px;
  width: 293.8px;
  border-radius: 20px;
  background-color: black;
}
.profiles {
  width: 60%;
  /* height: 3360px; */
  margin: auto;
  margin-top: 270px;
  padding: 10px;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}
.profile-left {
  width: 65%;
  margin: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.p_content_left {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.context {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 183px; */
}
.profile_text {
  width: 488px;
}
.img {
  height: 135px;
  width: 135px;

  border-radius: 50%;
  background-size: cover;
}
.picture {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-size: cover;
}
.author_left {
  display: flex;
  padding: 10px;

  gap: 10px;
}

.profile-right {
  align-self: flex-end;
  width: 65%;
  margin: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.author_right {
  display: flex;
  padding: 10px;

  flex-direction: row-reverse;
  text-align: right;
  gap: 10px;
}

.prev_week {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  padding-bottom: 150px;
}
.udur {
  display: flex;
  border-bottom: gray 1px solid;
  justify-content: space-between;
}
.weeks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 270px;
  color: grey;
  border-bottom: 1px solid transparent;
}
.udur :hover {
  color: blue;
  cursor: pointer;
  border-color: blue;
}
.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 25px;
}
.box {
  border: black 1px solid;
  border-radius: 20px;
  background-size: cover;
}
.box_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 362px;
}
.box_2 {
  height: 272px;
}
.box_3 {
  height: 235px;
}
.box_4 {
  height: 324px;
}
